.env
# ignore all files in the logs directory
logs/*
config/airflow.cfg

# ignore files in job9_op1_audio_daily_pipeline directories recursively
dags/job9_op1_audio_daily_pipeline/audio_combined/
dags/job9_op1_audio_daily_pipeline/vidar_sync/
